# Update host statuses exery {{scan_minutes}} minutes
*/{{scan_minutes}} * * * * nginx /bin/php {{ipam_path}}/functions/scripts/pingCheck.php
*/{{scan_minutes}} * * * * nginx /bin/php {{ipam_path}}/functions/scripts/discoveryCheck.php




